.managers-join-container {
  padding: 50px;
  background: #538fd934;
}
.join-now {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.join-btn {
  background-color: #003566;
  color: white;
}
@media (max-width: 540px) {
  .join-now {
    width: 100%;
  }
  .join-now h1 {
    font-size: 22px;
  }
}
